.bloqueContenido {
    margin-top: 20px;

    .tituloContenido {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    .descripcionContenido {
        color: #ffff;
        text-align: center;
        width: 80%;
        margin: 10px auto;
    }
}