footer {
    margin-top: 20px;
    @include box-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: $sobrePuestos;
    h3 {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }
    #logosRedes {
        @include grid-center;
        grid-template-columns: repeat(3,40px);
        column-gap: 20px;
        img {
            @include totalTamaño;
            filter: invert(100%);
        }
    }
}
@media screen and (max-width:767px) {
    footer {
        @include grid-center;
        grid-template-rows: repeat(2,50%);
        text-align: center;
        place-content: center;
    }
    #logosRedes {
        margin: auto 20px auto 10px;
    }
}