.slider-container {
    width: 80%;
    @include grid-center;
    grid-template-rows: 500px;
    margin: 10px auto;
    @include border;
	.slider-image {
		animation:  3s infinite alternate; 
        width:80%;
        height: 80%;
        @include border;
	}
}
@media screen and (max-width:766px) {
    .slider-container{
        width: 100%;
    }
    .slider-image {
        @include totalTamaño;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
    .slider-container{
        width: 100%;
    }
    .slider-image {
        @include totalTamaño;
    }
}